body {
  margin: 0; }

header {
  background-image: linear-gradient(rgba(27, 117, 186, 0.8), rgba(27, 117, 186, 0.8)), url('http://hdw.datawallpaper.com/nature/crashing-wave-desktop-background-336996.jpg');
  background-size: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 500px; }
  header p {
    text-align: center;
    color: #083451;
    font-family: sans-serif;
    margin-top: 0; }
  header h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 6em;
    color: white;
    font-family: sans-serif; }

.blog_link {
  display: inline-block;
  margin: 20px 100px; }
  .blog_link a {
    font-family: sans-serif;
    text-decoration: none;
    color: #083451;
    vertical-align: 54%; }
  .blog_link a:hover {
    color: white; }

.about_search {
  display: inline-block;
  float: right;
  margin: 26px 100px; }
  .about_search a {
    font-family: arial;
    color: #083451;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
    vertical-align: 20%;
    margin-right: -8px; }
  .about_search a:hover {
    color: white; }
  .about_search img {
    height: 19px; }

/** Beginning of Main Content **/
.content_container {
  width: 46%;
  display: inline-block;
  margin: 0px 100px 0px 150px; }
  .content_container h1 {
    color: #083452;
    font-family: futura;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 2.5em; }
  .content_container .profile_heading img {
    background: #1b75ba;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    width: 20px;
    height: 20px; }
  .content_container .profile_heading p {
    display: inline-block;
    color: grey; }
  .content_container .profile_heading span {
    display: inline-block;
    color: grey;
    text-decoration: underline; }
  .content_container .profile_heading a {
    text-decoration: none;
    color: #106db3;
    font-family: sans-serif; }
  .content_container p {
    color: grey;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 1.5; }
  .content_container h2 {
    border-left: 2px solid grey;
    color: #106db3;
    padding: 15px;
    font-family: futura; }
  .content_container .blog_links {
    display: inline-block;
    margin: 0 auto; }
  .content_container .icon_links {
    display: inline-block;
    padding-right: 10px; }
    .content_container .icon_links a {
      text-decoration: none;
      font-family: sans-serif;
      background-color: #BFBFBF;
      color: white;
      font-size: 14px;
      padding: 4px; }
    .content_container .icon_links img {
      margin-bottom: 0px;
      width: 24px;
      height: 24px;
      background-color: #787878;
      position: relative;
      top: 7px;
      left: 4px; }
    .content_container .icon_links img:hover {
      background-color: #083452; }
    .content_container .icon_links a:hover {
      background-color: #106db3; }

.sidebar {
  display: inline-block;
  width: 30%;
  vertical-align: top; }
  .sidebar .profile_pic {
    margin: 50px 0px;
    text-align: center; }
    .sidebar .profile_pic img {
      border: 1px solid white;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      display: block;
      margin-bottom: 15px;
      margin-left: 134px; }
    .sidebar .profile_pic .link {
      display: block;
      text-decoration: none;
      font-family: sans-serif;
      color: grey;
      margin-bottom: 20px; }
    .sidebar .profile_pic .link:hover {
      color: #106db3; }
    .sidebar .profile_pic .social_media a {
      margin-right: 10px;
      text-decoration: none;
      color: grey;
      font-family: sans-serif; }
    .sidebar .profile_pic .social_media a:hover {
      color: #106db3; }
  .sidebar .side_bar2 img {
    display: block;
    width: 250px;
    height: 323px; }
  .sidebar .side_bar2 .opacity {
    background-color: #146db4;
    width: 250px;
    margin-left: 66px; }
    .sidebar .side_bar2 .opacity .image_hover {
      opacity: 0.5; }
    .sidebar .side_bar2 .opacity .image_hover:hover {
      opacity: 1; }
  .sidebar .side_bar2 .link {
    margin-left: 215px;
    font-family: sans-serif;
    color: grey; }
  .sidebar .side_bar2 h5 {
    font-size: 20px;
    color: #106db3;
    font-weight: normal;
    font-family: futura;
    margin-bottom: 0;
    margin-left: 64px; }
  .sidebar .side_bar2 p {
    font-family: sans-serif;
    font-size: 19px;
    line-height: 1.5;
    color: grey;
    margin-left: 64px; }
    .sidebar .side_bar2 p a {
      color: grey; }

.bottom {
  display: block;
  width: 100%;
  border-top: 1px solid grey;
  margin-top: 100px; }
  .bottom h1 {
    display: block;
    font-size: 4em;
    font-family: futura;
    font-weight: normal;
    text-align: center;
    color: #083452; }
  .bottom .bottom_nav {
    width: 100%;
    height: 325px;
    display: inline-block;
    background-color: #146db4; }
    .bottom .bottom_nav .post_image {
      background-color: #146db4; }
      .bottom .bottom_nav .post_image .image_hover {
        opacity: 0.5;
        transition: all 1s ease; }
      .bottom .bottom_nav .post_image .image_hover:hover {
        opacity: 1; }
      .bottom .bottom_nav .post_image img {
        width: 25%;
        height: 325px;
        float: left; }

footer {
  background-color: #083451;
  min-height: 100px;
  margin-top: -4px; }
  footer ul {
    display: inline-block;
    float: right;
    margin-top: 42px;
    margin-right: 50px; }
  footer li {
    display: inline-block;
    border-right: 2px solid grey; }
  footer a, footer p {
    text-decoration: none;
    color: grey;
    font-family: sans-serif;
    font-size: 15px; }
  footer p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: 77%; }
  footer a {
    padding: 20px 10px;
    line-height: 0.5; }
  footer li:last-child {
    border-right: none; }
  footer a:hover {
    color: white; }
  footer img {
    height: 45px;
    margin: 25px 0px 0px 36px; }

@media all and (max-width: 320px) {
  header {
    height: 283px;
    position: relative;
    top: 0px;
    left: 0px; }
    header .about_search {
      text-align: center;
      float: left;
      display: inline-block;
      margin-top: 0px; }
      header .about_search a {
        padding: 3px;
        font-size: 0.75em; }
      header .about_search img {
        height: 12px; }
    header .blog_link {
      text-align: center; }
      header .blog_link a {
        display: none; }
      header .blog_link img {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 88px;
        left: 140px; }
    header h1 {
      font-size: 1.5em;
      margin-top: 31%; }
    header p {
      font-size: 0.75em; }
  .content_container {
    width: 95%;
    margin: 0px;
    display: block;
    margin-left: 20px; }
    .content_container h1 {
      font-size: 2em; }
    .content_container .profile_heading {
      display: inline-block; }
      .content_container .profile_heading a {
        display: none; }
      .content_container .profile_heading img {
        display: none; }
    .content_container .blog_links a {
      display: none; }
  .sidebar {
    width: 100%; }
    .sidebar .profile_pic {
      text-align: center;
      padding: 0; }
      .sidebar .profile_pic img {
        padding: 0;
        margin-left: 105px; }
    .sidebar .side_bar2 .opacity {
      margin-left: 33px; }
    .sidebar .side_bar2 .link {
      margin-left: 182px; }
  .bottom h1 {
    font-size: 1em; }
  .bottom .bottom_nav {
    height: 100%; }
    .bottom .bottom_nav .post_image {
      width: 100%; }
      .bottom .bottom_nav .post_image img {
        width: 100%; }
  footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center; }
    footer img {
      margin-left: 0;
      margin-top: 85px; }
    footer ul {
      position: absolute;
      top: 0px;
      left: 0px;
      margin-top: 32px;
      float: none; }
      footer ul li a {
        font-size: 12px;
        padding: 5px;
        color: white; } }
